# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/
*.local

# Logs
*.log
dev.log
dev.pid
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.local
.env.*.local

# OS
Thumbs.db
ehthumbs.db
desktop.ini

# Bun
bun.lockb

# Lock files (keep one or the other)
# package-lock.json
# yarn.lock
